<%- include("header") -%>

<div class="container">
    <div class="box" id="heading">
        <h1>Morning list</h1>
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        <% for (var i = 0; i < newListItems.length; i++){ %>
        <div class="item">
            <input id="check" type="checkbox" onchange="removeItem()">
            <p> <%=  newListItems[i]   %> </p>
        </div>
        <% } %>

        <form class="item" action="/" method="post">
            <input id="userInput" type="text" name="newItem" placeholder="New activity" autocomplete="off" required>
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
</div>

<%- include("footer") -%>